<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1GOhtiWJZoPQ3yml6iqhgloConMLiwGI&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <link rel="stylesheet" type="text/css" href="./css/map.css" />
    <script src="./js/map.js"></script>
  </head>
  <body>
         <h1>Select a location!</h1>
         <p>Click on a location on the map to select it. Drag the marker to change location.</p>
         
         <!--map div-->
         <div id="map"></div>
         <h1>Salut <%= nume%>!</h1>
<h1>Completeaza datele pentru a crea un anunt</h1>
<form action="/new_post" method="POST">
    <div>
        <label for="name">Serviciu</label>
        <input type="text" id="name" name="serviciu" required>
    </div>
    <div>
        <label for="name">Locatie</label>
        <input type="text" id="name" name="locatie" required>
    </div>
    <div>
        <label for="name">Pret</label>
        <input type="text" id="name" name="pret" required>
    </div>
    <div>
        <label for="name">Descriere</label>
        <input type="text" id="name" name="descriere" required>
    </div>
    <input type="text" name="latitudine" id="lat" readonly="yes"><br>
             <input name="longitudine" type="text" id="lng" readonly="yes">
    <button type="submit">Creaza!</button>

</form>
         
  </body>
</html>
